<div>
    {{#each myArray}}
       {{!-- <div style='display: flex;  flex-direction: row;'> --}}
            <a href='{{Url}}' target='_blank'> 
                <img src='{{ImagemLink}}' height='110' width='80'>
            </a>
       {{!-- </div>  --}}
    {{/each}}
    {{#each bolArray}}
        {{!-- <div style='display: flex;  flex-direction: row;'> --}}
            <a href='{{Url}}' target='_blank'> 
                <img src='{{ImagemLink}}' height='110' width='80'>
            </a>
        {{!-- </div>  --}}
    {{/each}}
    {{#each lineArray}}
        {{!-- <div style='display: flex;  flex-direction: row;'> --}}
            <a href='{{Url}}' target='_blank'> 
                <img src='{{ImagemLink}}' height='110' width='80'>
            </a>
        {{!-- </div>  --}}
    {{/each}}
</div>
